[mysqld]
gtid_mode=ON
enforce_gtid_consistency=ON
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
log_slave_updates=ON
loose-group_replication_group_name='da75271e-07a0-11f0-ada1-0242ac120003'
loose-group_replication_group_seeds="mysql-primary:33061,mysql-secondary:33061"
loose-group_replication_start_on_boot=ON
loose-group_replication_bootstrap_group=OFF
